<p id="notice"><%= notice %></p>



  <div id="cardsContainer">
                
                <div class="card" style="width: 18rem;">
                        <div class="playIcon">
                                <i class="fas fa-play fa-3x playAndPauseIcon"></i>
                        </div>
                    <h5 class="card-title"><%=@track.name%></h5>
                    <img class="card-img-top" src="<%=url_for(@track.cover_art)%>" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">
                            Released: <%=@track.release_date.strftime("%m/%d/%y")%>

                        </p>

                    </div>

                </div>
            
            </div>
        
            
        </div>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
