<p id="notice"><%= notice %></p>

<audio controls>
  
  <source src="<%=
  url_for(@sound.soundfile)%>" type="audio/mpeg">
 
Your browser does not support the audio element.
</audio>

<p>
  <strong>Name:</strong>
  <%= @sound.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sound.type_of_sound %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sound.description %>
</p>

<p>
  <strong>Key:</strong>
  <%= @sound.key %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @sound.tempo %>
</p>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
